body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    sans-serif;
}

.follow-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 1%;
  margin-bottom: 3%;
  max-width: 255px;
  padding: 1%;
  width: 250px;
}

.follow-btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.follow-btn-active {
  background-color: black;
  border: 1px solid black;
  border-radius: 1%;
  color: white;
  margin-bottom: 3%;
  max-width: 255px;
  padding: 1%;
  transition: 0.5s;
  width: 250px;
}
