.JavaScript {
  background-color: yellow;
}

.CSS {
  background-color: purple;
}

.Go {
  background-color: aqua;
}

.HTML {
  background-color: red;
}

.TypeScript {
  background-color: rgb(7, 81, 165);
}

.Python {
  background-color: blueviolet;
}

.Java {
  background-color: rgb(161, 154, 154);
}

.Vue {
  background-color: rgb(5, 154, 5);
}

.Dockerfile {
  background-color: rgba(65, 89, 50, 0.825);
}