@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Search Page */
  .main-content {
    align-items: center;
    display: flex;
    height: 85vh;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 100vw;
  }

  .search-title {
    font-size: 20px;
  }

  .user-input {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 450px;
  }

  .input-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .search-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
  }

  .search-icon-img {
    height: 22px;
    width: 22px;
  }

  .empty-msg {
    color: rgb(208, 25, 25);
  }
  /* Profile Page */
  .loading {
    height: 100px;
    position: fixed;
    top: 38%;
    left: 45%;
    width: 100px;
  }

  header {
    border-bottom: 2px solid rgba(193, 192, 192, 0.678);
    display: flex;
    height: 50px;
    justify-content: center;
  }

  .nav-bar {
    align-items: center;
    border-bottom: 2px solid rgba(250, 67, 67, 0.782);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 25%;
  }

  .nav-bar img {
    height: 20px;
    width: 20px;
  }

  .span-title {
    margin: 0 5% 0 5%;
  }

  .length {
    background-color: rgba(193, 192, 192, 0.41);
    border-radius: 50%;
    font-size: 15px;
    padding: 0 2% 0 2%;
  }

  .main-content-container {
    display: flex;
  }

  .user-infos-container {
    margin: 0 1% 0 1%;
    width: 38%;
  }

  .image-and-name {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% auto 0 auto;
    padding: 1%;
    width: 90%;
  }

  .image-and-name img {
    border: 1px solid rgba(193, 192, 192, 0.658);
    border-radius: 50%;
    height: 230px;
    margin-bottom: 3%;
    width: 230px;
  }

  .names {
    display: flex;
    flex-direction: column;
  }

  #username {
    font-weight: 600;
  }

  .bio-informations {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% auto 4% auto;
  }

  .bio {
    font-size: 18px;
    margin: 0 auto 3% auto;
    max-width: 300px;
    text-align: justify;
    width: 295px;
  }

  .follow-btn {
    margin-bottom: 3%;
    width: 250px;
    max-width: 255px;
  }

  .followers-infos-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 310px;
    min-width: 50%;
    width: 300px;
  }

  .span-followers {
    font-size: 18px;
  }

  .repos-container {
    width: 50%;
  }

  .repo-card {
    border-bottom: 1px solid rgba(193, 192, 192, 0.678);
    display: flex;
    flex-direction: column;
    margin: 0 auto 3% auto;
    padding: 3% 0 5% 0;
    width: 98%;
  }

  .link-to-repo {
    color: rgb(6, 6, 193);
    font-size: 20px;
    margin-right: 3%;
    text-decoration: none;
  }

  .visibility {
    font-size: 18px;
    text-transform: capitalize;
  }

  .span-repo-infos {
    font-size: 16px;
  }

  .container-infos {
    align-items: center;
    display: flex;
  }

  .lang {
    background-color: black;
    border: 1px solid rgba(148, 146, 146, 0.611);
    border-radius: 50%;
    height: 13px;
    margin-right: 1.2%;
    width: 13px;
  }

  .language {
    font-size: 17px;
    margin-right: 5%;
  }

  .repo-details {
    align-items: center;
    display: flex;
    font-size: 17px;
    margin-right: 3%;
  }

  .stars {
    height: 16px;
    width: 16px;
  }

  .stars-from-repo {
    align-items: center;
    display: flex;
  }
}