@media only screen and (max-width: 499px) {
    /* Search Page */
  .main-content {
    align-items: center;
    display: flex;
    height: 85vh;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 100vw;
  }

  .user-input {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .search-icon-img {
    height: 22px;
    width: 22px;
  }

  .empty-msg {
    color: rgb(208, 25, 25);
  }
  /* Profile Page */
  .loading {
    height: 100px;
    position: fixed;
    top: 38%;
    left: 35%;
    width: 100px;
  }

  header {
    border-bottom: 2px solid rgba(193, 192, 192, 0.678);
    display: flex;
    height: 50px;
    justify-content: center;
  }

  .nav-bar {
    align-items: center;
    border-bottom: 2px solid rgba(250, 67, 67, 0.782);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 55%;
  }

  .nav-bar img {
    height: 20px;
    width: 20px;
  }

  .span-title {
    margin: 0 5% 0 5%;
  }

  .length {
    background-color: rgba(193, 192, 192, 0.41);
    border-radius: 50%;
    font-size: 15px;
    padding: 0 4% 0 4%;
  }

  .user-infos-container {
    border-bottom: 2px solid rgba(193, 192, 192, 0.678);
    height: 320px;
    margin: 0 auto 0 auto;
    min-width: 95%;
  }

  .image-and-name {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 3% auto 0 auto;
    padding: 1%;
    width: 90%;
  }

  .image-and-name img {
    border: 1px solid rgba(193, 192, 192, 0.658);
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .names {
    display: flex;
    flex-direction: column;
  }

  #username {
    font-weight: 600;
  }

  .bio-informations {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% auto auto 4%;
  }

  .bio {
    text-align: justify;
    width: 80%;
  }

  .follow-btn {
    margin-bottom: 3%;
    width: 80%;
  }

  .followers-infos-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-width: 78%;
  }

  .repo-card {
    border-bottom: 1px solid rgba(193, 192, 192, 0.678);
    display: flex;
    flex-direction: column;
    margin: 0 auto 3% auto;
    padding: 3% 0 5% 0;
    width: 95%;
  }

  .link-to-repo {
    color: rgb(6, 6, 193);
    margin-right: 3%;
    text-decoration: none;
  }

  .visibility {
    font-size: 16px;
    text-transform: capitalize;
  }

  .span-repo-infos {
    font-size: 14px;
  }

  .container-infos {
    align-items: center;
    display: flex;
    font-size: 16px;
  }

  .lang {
    background-color: black;
    border: 1px solid rgba(148, 146, 146, 0.611);
    border-radius: 50%;
    height: 15px;
    margin-right: 1.2%;
    width: 15px;
  }

  .language {
    margin-right: 5%;
  }

  .repo-details {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-right: 3%;
  }

  .stars {
    height: 15px;
    width: 15px;
  }

  .stars-from-repo {
    align-items: center;
    display: flex;
  }
}
